
@{
    ViewBag.Title = "Home";

}


<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

     <!-- Owl Carousel Assets -->
<link href="~/Scripts/css/owl.carousel.css" rel="stylesheet">
<link href="~/Scripts/css/owl.theme.css" rel="stylesheet">

<link href="~/Scripts/css/prettify.css" rel="stylesheet">


    <div class="container page-container">

        <div class="post-formatting">
            <div class="vc_row row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_layerslider_element wpb_content_element">
                                <script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script>
                                <script data-cfasync="false" type="text/javascript">
                                lsjQuery(document).ready(function () {
                                    if (typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1_1463299473_1', 'jquery'); }
                                    else {
                                        lsjQuery("#layerslider_1_1463299473_1").layerSlider({ responsiveUnder: 1170, layersContainer: 1170, skinsPath: 'http://themes.laborator.co/aurum/bookshop/wp-content/plugins/LayerSlider/static/skins/' })
                                    }
                                });
                                </script>
                                
                                <div class="ls-wp-fullwidth-container" style="height:500px;">
                                    <div class="ls-wp-fullwidth-helper">
                                        <div id="layerslider_1_1463299473_1" class="ls-wp-container" style="width:100%;height:500px;margin:0 auto;margin-bottom: 0px;">
                                            <div class="ls-slide" data-ls=" transition2d: all;">
                                                <img src="~/tile imgs/Ocelot_Berlin_02.jpg" class="ls-bg" alt="Ocelot_Berlin_02" />
                                
                                <!-- here i commented this code
                                    <img src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/Bookshelf1.jpg" class="ls-tn" alt="Slide thumbnail" />
                                    
                                    -->
                                
                                <h1 class="ls-l" style="top:230px;left:84px;padding: 15px; background: #D22A30;font-size:50px;color:#ffffff;background:D22A30;white-space: nowrap;">"What thou seest then thou dost wake?"</h1><h1 class="ls-l" style="top:327px;left:599px;padding: 5px; background: #D22A30;font-size:13px;color:#ffffff;white-space: nowrap;">- Shakespeare</h1></div></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	<div class="vc_row row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="lab_vc_pagetitle wpb_content_element  vc_custom_1422628442476 text-aligned-left font-size-large has-subtitle">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h2>

                                            Bestsellers												<small>Top selling books of 2014</small>
                                        </h2>

                                    </div>
                                </div>
                            </div>
                            <div class="lab_wpb_products_carousel laborator-woocommerce shop wpb_content_element products-hidden " id="el_146329947342983">
                                <div class="products owl-carousel owl-theme" style="opacity: 1; display: block;">
                                    <div class=" owl-wrapper-outer">



                                    </div>


                                </div>
                            </div>

                            <!--the code was cut from here-->

                            <div id="demo">
                                <div class="container">
                                    <div class="row">
                                        <div class="span12">

                                            <div id="owl-demo" class="owl-carousel">

                                                <div class="owl-item"><img src="~/photo/1.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/2.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/3.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/4.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/5.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/6.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/7.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/8.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/9.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/10.jpg"></div>
                                                <div class="owl-item"><img src="~/photo/11.jpg"></div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>






                        </div>

                            
                       <!--<script src="~/Scripts/other/jquery-1.9.1.min.js"></script>-->
                        <script src="~/Scripts/other/owl.carousel.js"></script>


                        <!-- Demo -->

                        <style>
                            #owl-demo .item {
                                display: block;
                                padding: 30px 0px;
                                margin: 5px;
                                color: #FFF;
                                -webkit-border-radius: 3px;
                                -moz-border-radius: 3px;
                                border-radius: 3px;
                                text-align: center;
                            }

                            .owl-theme .owl-controls .owl-buttons div {
                                padding: 5px 9px;
                            }

                            .owl-theme .owl-buttons i {
                                margin-top: 2px;
                            }

                            /*To move navigation buttons outside use these settings:*/

                            .owl-theme .owl-controls .owl-buttons div {
                                position: absolute;
                            }

                            .owl-theme .owl-controls .owl-buttons .owl-prev {
                                left: -45px;
                                top: 55px;
                            }

                            .owl-theme .owl-controls .owl-buttons .owl-next {
                                right: -45px;
                                top: 55px;
                            }
                        </style>


                        <script>
                            $(document).ready(function () {

                                //Sort random function
                                function random(owlSelector) {
                                    owlSelector.children().sort(function () {
                                        return Math.round(Math.random()) - 0.5;
                                    }).each(function () {
                                        $(this).appendTo(owlSelector);
                                    });
                                }

                                $("#owl-demo").owlCarousel({
                                    navigation: true,
                                    navigationText: [
                                    "<i class='icon-chevron-left icon-white'></i>",
                                    "<i class='icon-chevron-right icon-white'></i>"
                                    ],
                                    //Call beforeInit callback, elem parameter point to $("#owl-demo")
                                    beforeInit: function (elem) {
                                        random(elem);
                                    }

                                });

                            });
                        </script>


                        <script src="~/Script/other/bootstrap-collapse.js"></script>
                        <script src="~/Script/other/bootstrap-transition.js"></script>
                        <script src="~/Script/other/bootstrap-tab.js"></script>

                        <script src="~/Script/other/prettify.js"></script>
                        <script src="~/Script/other/application.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var $carousel_el = $("#el_146329947342983 .products");

            $("#el_146329947342983").removeClass('products-hidden');

            $carousel_el.owlCarousel({
                items: 5,
                navigation: true,
                pagination: false,
                autoPlay: 5000,
                stopOnHover: true,
                singleItem: false,
                direction: _rtl()
            });
        });
    </script>
    </div></div></div></div>	<div class="vc_row row vc_custom_1422878735412">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="lab_vc_pagetitle wpb_content_element  vc_custom_1422877751247 text-aligned-left font-size-large has-subtitle">
                        <div class="row">
                            <div class="col-sm-12">

                                <h2>

                                    Author of the Month												<small>And his Bestsellers</small>
                                </h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
    <div class="vc_row row">
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_top-to-bottom">

                        <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="953" height="1416" src="~/photo/author.jpg" class="vc_single_image-img attachment-full" alt="author" srcset="~/photo/author.jpg 953w, ~/photo/author.jpg 202w, ~/photo/author.jpg 689w" sizes="(max-width: 953px) 100vw, 953px" /></div>
                        </figure>
                    </div>
                </div>
            </div>
        </div><div class="wpb_column vc_column_container vc_col-sm-8">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="lab_vc_pagetitle wpb_content_element  vc_custom_1422877464148 text-aligned-left font-size-medium has-subtitle">
                        <div class="row">
                            <div class="col-sm-12">

                                <h2>

                                    Muhammad Bin Aqeel												<small>Novel Prize Winner 2008</small>
                                </h2>

                                <span class="dash"></span>
                            </div>
                        </div>
                    </div>

                    <div class="wpb_text_column wpb_content_element  vc_custom_1422877331612">
                        <div class="wpb_wrapper">
                            <p>Inhabit hearing perhaps on ye do no. It maids decay as there he. Smallest on suitable disposed do although blessing he juvenile in. Society or if excited forbade. Here name off yet she long sold easy whom. Differed oh cheerful procured pleasure securing suitable in. Hold rich on an he oh fine. Chapter ability shyness article welcome be do on service.</p>
                            <p>&nbsp;</p>

                        </div>
                    </div>
                    <div class="lab_wpb_products laborator-woocommerce shop wpb_content_element ">

                        <div class="products">



                            <div class="item-column col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                <div class="first shop-item hover-effect-1 post-34 product type-product status-publish has-post-thumbnail product_cat-romance product_cat-teens pa_book-author-ismail-kadare pa_language-english pa_pages-53 pa_publisher-thomsonreuters pa_year-published-54 shipping-taxable purchasable product-type-simple product-cat-romance product-cat-teens instock">

                                    <a href="http://themes.laborator.co/aurum/bookshop/product/a-girl-is-a-half-formed-thing/">

                                        <a href="http://themes.laborator.co/aurum/bookshop/product/a-girl-is-a-half-formed-thing/">


                                            <div class="item-image">



                                                <img width="290" height="370" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-BLZC-jumbo-v2-290x370.jpg" class="attachment-shop-thumb size-shop-thumb wp-post-image" alt="14BESTCOVERS-slide-BLZC-jumbo-v2" srcset="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-BLZC-jumbo-v2-290x370.jpg 290w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-BLZC-jumbo-v2-70x90.jpg 70w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-BLZC-jumbo-v2-555x710.jpg 555w" sizes="(max-width: 290px) 100vw, 290px" />
                                                <div class="bounce-loader">
                                                    <div class="loading loading-0"></div>
                                                    <div class="loading loading-1"></div>
                                                    <div class="loading loading-2"></div>
                                                </div>
                                            </div>

                                        </a>


                                        <div class="item-info">

                                            <h3>
                                                <a href="http://themes.laborator.co/aurum/bookshop/product/a-girl-is-a-half-formed-thing/">A Girl Is a Half-Formed Thing</a>
                                            </h3>

                                            <span class="product-terms">
                                                <a href="http://themes.laborator.co/aurum/bookshop/product-category/romance/" rel="tag">Romance</a>, <a href="http://themes.laborator.co/aurum/bookshop/product-category/teens/" rel="tag">Teens</a>
                                            </span>


                                            <h3 class="price"><span class="amount">&euro;15.00</span></h3>

                                    </a><a rel="nofollow" href="/aurum/bookshop/?add-to-cart=34" data-quantity="1" data-product-id="34" data-toggle="tooltip" data-placement="left" data-added-to-cart-title="Product added to cart!" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart add-to-cart ajax-add-to-cart" title="Add to cart"></a>
                                </div>

                            </div>
                            

                        </div>







                        <div class="item-column col-lg-3 col-md-3 col-sm-6 col-xs-12">

                            <div class="shop-item hover-effect-1 post-32 product type-product status-publish has-post-thumbnail product_cat-history pa_book-author-leo-tolstoy pa_language-german pa_pages-49 pa_publisher-pearson pa_year-published-50 sale shipping-taxable purchasable product-type-simple product-cat-history instock">

                                <a href="http://themes.laborator.co/aurum/bookshop/product/into-the-war/">

                                    <a href="http://themes.laborator.co/aurum/bookshop/product/into-the-war/">


                                        <span class="onsale">Sale!</span>

                                        <div class="item-image">



                                            <img width="290" height="370" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-ES87-jumbo-v2-290x370.jpg" class="attachment-shop-thumb size-shop-thumb wp-post-image" alt="14BESTCOVERS-slide-ES87-jumbo-v2" srcset="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-ES87-jumbo-v2-290x370.jpg 290w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-ES87-jumbo-v2-70x90.jpg 70w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-ES87-jumbo-v2-555x710.jpg 555w" sizes="(max-width: 290px) 100vw, 290px" />
                                            <div class="bounce-loader">
                                                <div class="loading loading-0"></div>
                                                <div class="loading loading-1"></div>
                                                <div class="loading loading-2"></div>
                                            </div>
                                        </div>

                                    </a>


                                    <div class="item-info">

                                        <h3>
                                            <a href="http://themes.laborator.co/aurum/bookshop/product/into-the-war/">Into the War</a>
                                        </h3>

                                        <span class="product-terms">
                                            <a href="http://themes.laborator.co/aurum/bookshop/product-category/history/" rel="tag">History</a>
                                        </span>


                                        <h3 class="price"><del><span class="amount">&euro;15.00</span></del> <ins><span class="amount">&euro;12.50</span></ins></h3>

                                </a><a rel="nofollow" href="/aurum/bookshop/?add-to-cart=32" data-quantity="1" data-product-id="32" data-toggle="tooltip" data-placement="left" data-added-to-cart-title="Product added to cart!" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart add-to-cart ajax-add-to-cart" title="Add to cart"></a>
                            </div>

                        </div>

                    </div>

                    <div class="clear-sm"></div>






                    <div class="item-column col-lg-3 col-md-3 col-sm-6 col-xs-12">

                        <div class="shop-item hover-effect-1 post-30 product type-product status-publish has-post-thumbnail product_cat-history pa_book-author-ismail-kadare pa_language-french pa_language-german pa_pages-45 pa_publisher-wolters-kluwer pa_year-published-46 shipping-taxable purchasable product-type-simple product-cat-history instock">

                            <a href="http://themes.laborator.co/aurum/bookshop/product/the-silent-history/">

                                <a href="http://themes.laborator.co/aurum/bookshop/product/the-silent-history/">


                                    <div class="item-image">



                                        <img width="290" height="370" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-R7HN-jumbo-v2-290x370.jpg" class="attachment-shop-thumb size-shop-thumb wp-post-image" alt="14BESTCOVERS-slide-R7HN-jumbo-v2" srcset="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-R7HN-jumbo-v2-290x370.jpg 290w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-R7HN-jumbo-v2-70x90.jpg 70w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-R7HN-jumbo-v2-555x710.jpg 555w" sizes="(max-width: 290px) 100vw, 290px" />
                                        <div class="bounce-loader">
                                            <div class="loading loading-0"></div>
                                            <div class="loading loading-1"></div>
                                            <div class="loading loading-2"></div>
                                        </div>
                                    </div>

                                </a>


                                <div class="item-info">

                                    <h3>
                                        <a href="http://themes.laborator.co/aurum/bookshop/product/the-silent-history/">The Silent History</a>
                                    </h3>

                                    <span class="product-terms">
                                        <a href="http://themes.laborator.co/aurum/bookshop/product-category/history/" rel="tag">History</a>
                                    </span>


                                    <h3 class="price"><span class="amount">&euro;24.00</span></h3>

                            </a><a rel="nofollow" href="/aurum/bookshop/?add-to-cart=30" data-quantity="1" data-product-id="30" data-toggle="tooltip" data-placement="left" data-added-to-cart-title="Product added to cart!" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart add-to-cart ajax-add-to-cart" title="Add to cart"></a>
                        </div>

                    </div>

                </div>







                <div class="item-column col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <div class="last shop-item hover-effect-1 post-26 product type-product status-publish has-post-thumbnail product_cat-romance pa_book-author-fyodor-dostoyevsky pa_language-english pa_pages-39 pa_publisher-wolters-kluwer pa_year-published-40 shipping-taxable purchasable product-type-simple product-cat-romance instock">

                        <a href="http://themes.laborator.co/aurum/bookshop/product/never-love-a-gambler/">

                            <a href="http://themes.laborator.co/aurum/bookshop/product/never-love-a-gambler/">


                                <div class="item-image">



                                    <img width="290" height="370" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-ZLA1-jumbo-v2-290x370.jpg" class="attachment-shop-thumb size-shop-thumb wp-post-image" alt="14BESTCOVERS-slide-ZLA1-jumbo-v2" srcset="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-ZLA1-jumbo-v2-290x370.jpg 290w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-ZLA1-jumbo-v2-70x90.jpg 70w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/14BESTCOVERS-slide-ZLA1-jumbo-v2-555x710.jpg 555w" sizes="(max-width: 290px) 100vw, 290px" />
                                    <div class="bounce-loader">
                                        <div class="loading loading-0"></div>
                                        <div class="loading loading-1"></div>
                                        <div class="loading loading-2"></div>
                                    </div>
                                </div>

                            </a>


                            <div class="item-info">

                                <h3>
                                    <a href="http://themes.laborator.co/aurum/bookshop/product/never-love-a-gambler/">Never Love a Gambler</a>
                                </h3>

                                <span class="product-terms">
                                    <a href="http://themes.laborator.co/aurum/bookshop/product-category/romance/" rel="tag">Romance</a>
                                </span>


                                <h3 class="price"><span class="amount">&euro;21.00</span></h3>

                        </a><a rel="nofollow" href="/aurum/bookshop/?add-to-cart=26" data-quantity="1" data-product-id="26" data-toggle="tooltip" data-placement="left" data-added-to-cart-title="Product added to cart!" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart add-to-cart ajax-add-to-cart" title="Add to cart"></a>
                    </div>

                </div>

            </div>

            <div class="clear-sm"></div>
            <div class="clear"></div>



            <div class="clear"></div>


        </div>

    </div>
    </div></div></div></div>	<div class="vc_row row">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner vc_custom_1422882025307">
                <div class="wpb_wrapper">
                    <div class="lab_wpb_banner wpb_content_element banner  banner-white">
                        <div class="button_outer">
                            <div class="button_middle">
                                <div class="button_inner">


                                    <div class="banner-content">
                                        <strong>Free shipping </strong>

                                        <span>Free shipping over $125 for international orders</span>
                                    </div>

                                    <div class="banner-call-button">
                                        <a href="#" class="btn" target="">Get a book!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	<div class="vc_row row">
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <style>
                        #el_146329947394940 .font-color {
                            color: #ffffff;
                        }

                        #el_146329947394940 .bg-color {
                            background-color: #ffffff;
                        }

                        #el_146329947394940 .border-color {
                            border-color: #ffffff;
                        }

                        #el_146329947394940 .border-color-top {
                            border-top-color: #ffffff;
                        }

                        #el_146329947394940 .border-color-bottom {
                            border-bottom-color: #ffffff;
                        }

                        #el_146329947394940 .border-color-left {
                            border-left-color: #ffffff;
                        }

                        #el_146329947394940 .border-color-right {
                            border-right-color: #ffffff;
                        }
                    </style>
                    <div class="lab_wpb_image_banner wpb_content_element banner-type-title-description-bordersep text-position-centered" id="el_146329947394940">


                        <a href="" target="">

                            <img width="3000" height="1987" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/Bookshelf2.jpg" class="banner-img attachment-full" alt="Bookshelf" srcset="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/Bookshelf2.jpg 3000w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/Bookshelf2-300x199.jpg 300w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/Bookshelf2-1024x678.jpg 1024w" sizes="(max-width: 3000px) 100vw, 3000px" />
                            <span class="ol" style="background-color: rgba(0,0,0,0.3);"></span>


                            <div class="banner-text-container">
                                <div class="banner-text-content border-color ">
                                    <strong class="font-color">Library</strong>
                                    <em class="font-color border-top-color">Reading space</em>
                                </div>
                            </div>

                        </a>


                    </div>
                </div>
            </div>
        </div><div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <style>
                        #el_146329947354674 .font-color {
                            color: #ffffff;
                        }

                        #el_146329947354674 .bg-color {
                            background-color: #ffffff;
                        }

                        #el_146329947354674 .border-color {
                            border-color: #ffffff;
                        }

                        #el_146329947354674 .border-color-top {
                            border-top-color: #ffffff;
                        }

                        #el_146329947354674 .border-color-bottom {
                            border-bottom-color: #ffffff;
                        }

                        #el_146329947354674 .border-color-left {
                            border-left-color: #ffffff;
                        }

                        #el_146329947354674 .border-color-right {
                            border-right-color: #ffffff;
                        }
                    </style>
                    <div class="lab_wpb_image_banner wpb_content_element banner-type-title-description-bordersep text-position-centered" id="el_146329947354674">


                        <a href="" target="">

                            <img width="1024" height="666" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/ssb-wide1.jpg" class="banner-img attachment-full" alt="ssb-wide1" srcset="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/ssb-wide1.jpg 1024w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/ssb-wide1-300x195.jpg 300w" sizes="(max-width: 1024px) 100vw, 1024px" />
                            <span class="ol" style="background-color: rgba(0,0,0,0.3);"></span>


                            <div class="banner-text-container">
                                <div class="banner-text-content border-color ">
                                    <strong class="font-color">Furnishing</strong>
                                    <em class="font-color border-top-color">Home Furnishment</em>
                                </div>
                            </div>

                        </a>


                    </div>
                </div>
            </div>
        </div><div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <style>
                        #el_146329947386622 .font-color {
                            color: #ffffff;
                        }

                        #el_146329947386622 .bg-color {
                            background-color: #ffffff;
                        }

                        #el_146329947386622 .border-color {
                            border-color: #ffffff;
                        }

                        #el_146329947386622 .border-color-top {
                            border-top-color: #ffffff;
                        }

                        #el_146329947386622 .border-color-bottom {
                            border-bottom-color: #ffffff;
                        }

                        #el_146329947386622 .border-color-left {
                            border-left-color: #ffffff;
                        }

                        #el_146329947386622 .border-color-right {
                            border-right-color: #ffffff;
                        }
                    </style>
                    <div class="lab_wpb_image_banner wpb_content_element banner-type-title-description-bordersep text-position-centered" id="el_146329947386622">


                        <a href="" target="">

                            <img width="660" height="408" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/amazon-kindle-3-nyt-660x408.jpg" class="banner-img attachment-full" alt="amazon-kindle-3-nyt-660x408" srcset="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/amazon-kindle-3-nyt-660x408.jpg 660w, http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/amazon-kindle-3-nyt-660x408-300x185.jpg 300w" sizes="(max-width: 660px) 100vw, 660px" />
                            <span class="ol" style="background-color: rgba(0,0,0,0.3);"></span>


                            <div class="banner-text-container">
                                <div class="banner-text-content border-color ">
                                    <strong class="font-color">Ebooks</strong>
                                    <em class="font-color border-top-color">Your reading tool</em>
                                </div>
                            </div>

                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>	<div class="vc_row row">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div>		<div class="lab_vc_pagetitle wpb_content_element  vc_custom_1429623494630 text-aligned-left font-size-medium">
                        <div class="row">
                            <div class="col-sm-12">

                                <h2>

                                    What people say?
                                </h2>

                            </div>
                        </div>
                    </div>
                    <div class="lab_wpb_testimonials wpb_content_element " data-autoswitch="5">

                        <div class="testimonials-inner">
                            <div class="testimonial-entry">

                                <div class="testimonial-thumbnail">

                                    <img class="" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/04/128-4.jpg" width="128" height="128" alt="128-4" title="128-4" />
                                </div>

                                <div class="testimonial-blockquote">
                                    <p>This is an impressive theme. It is very well designed and it works incredibly well.</p>

                                    <cite>
                                        LoctekMarc
                                    </cite>
                                </div>

                            </div>
                            <div class="testimonial-entry hidden">

                                <div class="testimonial-thumbnail">

                                    <img class="" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/04/128-2.jpg" width="128" height="128" alt="128-2" title="128-2" />
                                </div>

                                <div class="testimonial-blockquote">
                                    <p>Design quality is minimalist, sleek, and clean. On top of all that, customer support is beyond amazing. I&#8217;ve seriously never had such amazing customer support before.</p>

                                    <cite>
                                        jesseqli
                                    </cite>
                                </div>

                            </div>
                            <div class="testimonial-entry hidden">

                                <div class="testimonial-thumbnail">

                                    <img class="" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/04/128.jpg" width="128" height="128" alt="128" title="128" />
                                </div>

                                <div class="testimonial-blockquote">
                                    <p>Very nice theme, it adapts to whatever you need and has a great design. Do not hesitate to buy it. Quality and efficient technical support.</p>

                                    <cite>
                                        alexgl
                                    </cite>
                                </div>

                            </div>
                            <div class="testimonial-entry hidden">

                                <div class="testimonial-thumbnail">

                                    <img class="" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/04/128-1.jpg" width="128" height="128" alt="128-1" title="128-1" />
                                </div>

                                <div class="testimonial-blockquote">
                                    <p>This is the best theme I found for my fashion shop. I was looking for a theme with beautiful minimal design, easy to install and setup, responsive and full featured. Aurum is exactly what I needed, and even more: The team offer a lovely support and for a beginner like me it is a crucial point! Thank you Laborator for your work, and continuous success!</p>

                                    <cite>
                                        4ur3lien
                                    </cite>
                                </div>

                            </div>
                            <div class="testimonial-entry hidden">

                                <div class="testimonial-thumbnail">

                                    <img class="" src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/04/128-3.jpg" width="128" height="128" alt="128-3" title="128-3" />
                                </div>

                                <div class="testimonial-blockquote">
                                    <p>Good support of theme. When a problem arose for my specific installation, they were able to track it down and fix it.</p>

                                    <cite>
                                        chucky76
                                    </cite>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
