@{
    
    ViewBag.Title = "Library";
    //Layout = "~/Views/Layouts/NetLinkedLayout.cshtml";
    
}
<div class="container page-container">

    <div class="post-formatting">
        <br /><br />
        <!--starting of owl carosel ************************************************************************************-->        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="jQuery Responsive Carousel - Owl Carusel">
        <meta name="author" content="Bartosz Wojciechowski">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="../assets/css/bootstrapTheme.css" rel="stylesheet">
        <link href="../assets/css/custom.css" rel="stylesheet">
        <!-- Owl Carousel Assets -->
        <link href="../owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="../owl-carousel/owl.theme.css" rel="stylesheet">
        <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

        <!-- Le fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="../assets/ico/favicon.png">
        

        <div id="demo">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div id="owl-demo" class="owl-carousel">
                            <div class="item"><img src="/assets/fullimage1.jpg" alt="The Last of us"></div>
                            <div class="item"><img src="/assets/fullimage2.jpg" alt="GTA V"></div>
                            <div class="item"><img src="/assets/fullimage3.jpg" alt="Mirror Edge"></div>
                            <div class="item"><img src="/assets/fullimage4.jpg" alt="Mirror Edge"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var owldomain = window.location.hostname.indexOf("owlgraphic");
            if (owldomain !== -1) {
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
            }
        </script>

        <script src="../assets/js/jquery-1.9.1.min.js"></script>
        <script src="../owl-carousel/owl.carousel.js"></script>

        <!-- Demo -->
        <style>
            #owl-demo .item img {
                display: block;
                width: 100%;
                height: auto;
            }
        </style>

        <script>
            $(document).ready(function () {
                $("#owl-demo").owlCarousel({

                    navigation: true,
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    singleItem: true

                    // "singleItem:true" is a shortcut for:
                    // items : 1,
                    // itemsDesktop : false,
                    // itemsDesktopSmall : false,
                    // itemsTablet: false,
                    // itemsMobile : false

                });
            });
        </script>
        <script src="../assets/js/bootstrap-collapse.js"></script>
        <script src="../assets/js/bootstrap-transition.js"></script>
        <script src="../assets/js/bootstrap-tab.js"></script>
        <script src="../assets/js/google-code-prettify/prettify.js"></script>
        <script src="../assets/js/application.js"></script>

        
<!--end of owl carosel ************************************************************************************-->        
        	<div class="vc_row row">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>In by an appetite no humoured returned informed. Possession so comparison inquietude he he conviction no decisively. Marianne jointure attended she hastened surprise but she. Ever lady son yet you very paid form away. He advantage of exquisite resolving if on tolerably. Become sister on in garden it barton waited on.</p>
                                <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.</p>
                                <p>Why painful the sixteen how minuter looking nor. Subject but why ten earnest husband imagine sixteen brandon. Are unpleasing occasional celebrated motionless unaffected conviction out. Evil make to no five they. Stuff at avoid of sense small fully it whose an. Ten scarcely distance moreover handsome age although. As when have find fine or said no mile. He in dispatched in imprudence dissimilar be possession unreserved insensible. She evil face fine calm have now. Separate screened he outweigh of distance landlord.</p>
                                <p>Do play they miss give so up. Words to up style of since world. We leaf to snug on no need. Way own uncommonly travelling now acceptance bed compliment solicitude. Dissimilar admiration so terminated no in contrasted it. Advantages entreaties mr he apartments do. Limits far yet turned highly repair parish talked six. Draw fond rank form nor the day eat.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	<div class="vc_row row">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="lab_vc_pagetitle wpb_content_element  vc_custom_1422884880613 text-aligned-center font-size-large has-subtitle">
                            <div class="row">
                                <div class="col-sm-12">

                                    <h2>

                                        Meet the Writers												<small>Who writes and publishes</small>
                                    </h2>

                                    <span class="dash"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	<div class="vc_row row vc_custom_1422884830856" style="background-color: yellowgreen">
            <div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/team1-250x250.png" width="250" height="250" alt="team1" title="team1" /></div>
                            </figure>
                        </div>
                        <div class="lab_vc_pagetitle wpb_content_element  text-aligned-center font-size-medium has-subtitle">
                            <div class="row">
                                <div class="col-sm-12">

                                    <h2>

                                        John Riptide												<small style="color:white">Editor   </small>
                                    </h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/team3-250x250.png" width="250" height="250" alt="team3" title="team3" /></div>
                            </figure>
                        </div>
                        <div class="lab_vc_pagetitle wpb_content_element  text-aligned-center font-size-medium has-subtitle">
                            <div class="row">
                                <div class="col-sm-12">

                                    <h2>

                                        Claudia Romero												<small style="color:white">Publisher</small>
                                    </h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="http://themes.laborator.co/aurum/bookshop/wp-content/uploads/2015/01/team2-250x250.png" width="250" height="250" alt="team2" title="team2" /></div>
                            </figure>
                        </div>
                        <div class="lab_vc_pagetitle wpb_content_element  text-aligned-center font-size-medium has-subtitle">
                            <div class="row">
                                <div class="col-sm-12">

                                    <h2>

                                        John Lennon												<small style="color:white">Writer</small>
                                    </h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="/photo/copy.png" width="250" height="250" alt="team4" title="team4" /></div>
                            </figure>
                        </div>
                        <div class="lab_vc_pagetitle wpb_content_element  text-aligned-center font-size-medium has-subtitle">
                            <div class="row">
                                <div class="col-sm-12">

                                    <h2>

                                        Njia Younas												<small style="color:white">Everything</small>
                                    </h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
