
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}
<style>
    .item {
        border:double;
        width: 90%;
        height: auto;
    }
    .itemName
    {
        text-emphasis-color:black;
        background-color:white;
        float:left;
    }
</style>

<div style="padding-left:10%">
    <h1>hello</h1>
    <table border="1">
        <thead>
            <tr>
                <td>
                    <b>Cart ID</b>
                </td>
                <td style="width:80%; " colspan="2">
                    <b>Buyer Name</b>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td style ="width:80%">2</td>
                <td><input type="button" value="Deliver Order" /></td>
            </tr>
        </tbody>

    </table>
</div>

