 
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<style>
    .ala{
        height: 20%;
        width: 20%;
        background-color: red;
        font-stretch:expanded;
        margin: 10px;
        float: left
    }
</style>
<body>
    <script src="/Scripts/jquery-1.12.4.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/dropzone.js"></script>
    <link rel="stylesheet" href="/assets/dropzone.css"/>
    <link rel="stylesheet" href="/assets/style.css" />
    <script>
        $(document).ready(function () {
            $("#q").click(function () {
                
                $("#q").fadeOut("slow");

            });

           

        });
        
    </script>
    <!--
    <div class="ala" id="q"></div>
    <div class="ala" style="background-color:blue"></div>
    <div class="ala"></div>
    <div class="ala"></div>
    <div class="ala"></div>
    <div class="ala" style="background-color:green"></div>
    <br />
    <br />
    <br />
    <br />-->
   
   
    <br />
    
</body>

